<% provide :page_name, "Заявка" %>

<div class="view">
  <div class="go-back">
    <%= link_to image_tag("go_back.png"), questions_path %>
  </div>
  
  <div class="description">
    <h2 class="h2-view"><%= @question.title %></h2>
    <p><%= @question.body %></p>
  </div>

  <div class="comment">
    <h2 class="h2-view" id="h2-chat">История общения:</h2>

    <% unless @answers.present? %>
      <%= render 'animation_empty_messages' %>
    <% end %>

    <div class="content-comment">
      <%= render partial: 'answers/answer', collection: @answers,
                 as: :answer, locals: {question: @question } %>
    </div>

    <%= render 'questions/form_create_answer' %>

  </div>
</div>
