<% if answer.user.id == current_user.id %>
  <div class="my_message">
    <div class="message-buttons">
      <%= link_to 'Изменить', edit_question_answer_path(question, answer), class: 'buttons_message' %>
      <%= button_to 'Удалить', question_answer_path(question, answer), class: 'buttons_message', :method => :delete %>
    </div>

    <div>
      <p><%= answer.body %></p>
    </div>
  </div>
<% else %>
  <div class="message">
    <div>
      <h6><%= set_responsible_fio answer.user.id %></h6>
      <p><%= answer.body %></p>
    </div>
  </div>
<% end %>